.white {
    color: #fff;
}

.black {
    color: #000;
}

.blue {
    color: #0072bc;
}

.footnote {
    font-size: 10px;
}

.sv_q_erbox {
    color: red;
}

.App {
/*  padding: 20px;*/
}

/*-----------------------------HEADER----------------------------*/

/*---------------HEADER CONTAINER--------------*/

.header_container {
    background-color: #ffff00;
    padding: 5px 0 5%;
}

@media only screen and (min-width : 1025px) {
   .header_container {
        background-color: #ffff00;
        padding: 5px 0 4%;
    }
}

/*---------------HEADER CONTAINER END--------------*/


/*---------------HEADER CONTENT--------------*/

.header_content {
    -webkit-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    transform: skewY(-5deg);
}

/*---------------'MAKE BOSS's JOBS EASIER'--------------*/


.header_content > h2 {
    margin: 20px 20px 10px;
}

@media only screen and (max-width : 414px) {
   .header_content > h2 {
       margin: 5px 20px 10px;
        font-size: 18px;
    } 
}

@media only screen and (min-width : 415px) and (max-width : 767px) {
   .header_content > h2 {
        margin: 20px 20px 10px;
        font-size: 28px;
    } 
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
   .header_content > h2 {
        margin: 10px 20px 10px;
        font-size: 30px;
    } 
}

@media only screen and (min-width : 1025px) {
   .header_content > h2 {
        margin: 10px 20px 10px;
        font-size: 36px;
    } 
}

/*---------------'MAKE BOSS's JOBS EASIER' END--------------*/


.header_container-black {
    background-color: #000;
/*    height: 400px;*/
    padding: 10px 0 0;
    color: #000;
    text-align: center;
    margin-bottom: 2%;
}

/*---------------'HIRING ERIC MESSICK'--------------*/


.header_container-black h3 {
    font-weight: 600;
    margin: 10px 0 1px -25%;
    font-family: 'Arial Black', 'Open Sans', sans-serif;
}

@media only screen and (max-width : 414px) {
   .header_container-black h3 {
       font-size: 17px;
    }
}

@media only screen and (min-width : 415px) and (max-width : 767px) {
   .header_container-black h3 {
       font-size: 20px;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
   .header_container-black h3 {
       font-size: 22px;
    }
}

/*---------------'HIRING ERIC MESSICK' END--------------*/

/*---------------'SURVEY'--------------*/

.header_container-black h1 {
    font-weight: 800;
    font-size: 76px;
    font-family: 'Arial Black', 'Open Sans', sans-serif;
    margin: 5px 0 2px;
}

@media only screen and (max-width : 414px) {
   .header_container-black h1 {
        font-size: 50px;
       margin: 1px 0 2px;
    }
}

@media only screen and (min-width : 415px) and (max-width : 767px) {
   .header_container-black h1 {
        font-size: 60px;
       margin: 1px 0 2px;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
   .header_container-black h1 {
        font-size: 70px;
       margin: 1px 0 2px;
    }
}

/*---------------'SURVEY' END--------------*/

/*---------------'DUMMIES' LOGO------------*/

.header_logo {
    width: 60%;
    margin: 2px auto 20px;
}

@media only screen and (max-width : 414px) {
   .header_logo {
        width: 88%;
    }
}

@media only screen and (min-width : 415px) and (max-width : 767px) {
   .header_logo {
        width: 80%;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
   .header_logo {
        width: 60%;
    }
}

/*---------------'DUMMIES' LOGO END------------*/


.header_blue-container {
    background-color: #0072bc;
    text-align: right;
    padding: 1px;
}

.header_blue-container h2 {
    margin: 1px 20px;
    font-size: 20px;
}

@media only screen and (max-width : 414px) {
   .header_blue-container h2 {
        font-size: 18px;
    }
}


@media only screen and (min-width : 415px) and (max-width : 767px) {
   .header_blue-container h2 {
        font-size: 26px;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
   .header_blue-container h2 {
        font-size: 28px;
    }
}

@media only screen and (min-width : 1025px) {
   .header_blue-container h2 {
        font-size: 30px;
    }
}

/*---------------HEADER CONTENT END--------------*/

/*-------------------------------------------------END HEADER------------------------------*/







/*----------------SURVEY STYLES-----------------*/

.App-survey {
    margin: 20px auto;
    padding: 20px;
    width: 560px;
}

@media only screen and (max-width : 414px) {
   .App-survey {
        width: 100%;
    }
}

.sv_p_title {
    font-weight: 600;
    margin: 10px 0 5px;
}

.sv_q_title {
    margin: 10px 0 5px;
}

.sv_qcbc {
    margin: 10px 0;
}



/*------------------RADIO STYLES---------------*/
.sv_q_radiogroup {
    width: 100%;
}

input[type=radio] {
    margin-bottom: 4px;
    float: left;
    display: inline-block;
}

label.sv_q_radiogroup span {
    margin-left: 10px !important;
    width: 90%;
    float: left;
    display: inline-block;
    font-weight: 500;
    
}

/*--------------END RADIO STYLES---------------*/





/*------------------CHECKBOX STYLES---------------*/
div.sv_q_checkbox {
    width: 33.333% !important;
    font-weight: 500;
    /* margin: 0 !important; */
    display: inline-block;
}

label.sv_q_checkbox {
    font-weight: 500;
}

input[type=checkbox] {
    height: 15px;
    width: 15px;
    margin: 4px 6px 0 0 !important;
}

textarea[type=text] {
    margin-bottom: 15px;
}

/*--------------END CHECKBOX STYLES---------------*/





/*------------------FORM STYLES---------------*/
@media only screen and (max-width : 414px) {
    .sv_q {
        width: 100% !important;
        padding-right: 0px !important;
    }
    
    input[type=text], input[type=email] {
        width: 100%;
    }
}

/*--------------END FORM STYLES---------------*/





/*--------------NAVIGATION STYLES---------------*/

.sv_nav {
    padding-left: 22px;
}

/*--------------END NAVIGATION STYLES---------------*/





/*--------------RESULT PAGE STYLES---------------*/

p:last-of-type {
    margin-bottom: 15px;
}

/*--------------END RESULT PAGE STYLES---------------*/





/*--------------RATING PAGE STYLES---------------*/

.cutePic {
    max-width: 100%;
}

#sq_119, #sq_122 {
    margin-bottom: 10px;
}

@media only screen and (max-width : 414px) {
    #sq_119 h5 {
        font-size: 16px;
        padding-left: 2px;
    }
    #sq_120 h5 {
        font-size: 16px;
        padding-left: 2px;
    }
}

.sv_q_rating {
    margin-bottom: 10px;
}

.sv_q_rating_item {
    border: 1px solid #e7eaec;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: relative;
    float: left;
    -webkit-box-sizing: border-box;
}

@media only screen and (max-width : 414px) {
    .sv_q_rating_item {
        padding: 3px 8px;
        font-size: 12px;
    }
}

.sv_q_rating_item:hover {
    background-color: #e6e6e6;
}

.sv_q_rating_item:active, .sv_q_rating_item.active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
        border: 1px solid #d2d2d2;
    background-color: #e6e6e6;
}

/*
.sv_q_rating_item:first-of-type span:nth-of-type(2) {
    display: none;
}

.sv_q_rating_item:last-of-type span:first-of-type {
    display: none;
}
*/

/*--------------END RATING PAGE STYLES---------------*/



/*------------------FOOTER----------------------------*/

/*--------------FOOTER CONTAINER-----------*/

.footer_container {
    height: 220px;
    overflow: hidden;
    position: relative;
}

@media only screen and (min-width : 415px) and (max-width : 580px) {
   .footer_container {
        height: 220px;
    }
}

@media only screen and (min-width : 581px) and (max-width : 767px) {
   .footer_container {
        height: 280px;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
       .footer_container {
            height: 340px;
    }
}

@media only screen and (min-width : 1025px) {
       .footer_container {
            height: 360px;
    }
}

/*-----------FOOTER CONTAINER END---------*/


/*--------------FOOTER CONTENT-----------*/

.footer_content {
    width: 100%;
    height: 220px;
    position: absolute;
    top: 0;
    background-color: #ffff00;
    transform-origin: right top;
    -webkit-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    transform: skewY(-5deg);
}

@media only screen and (min-width : 415px) and (max-width : 580px) {
   .footer_content {
        height: 220px;
    }
}

@media only screen and (min-width : 581px) and (max-width : 767px) {
   .footer_content {
        height: 280px;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
   .footer_content {
        height: 340px;
    }
}

@media only screen and (min-width : 1025px) {
   .footer_content {
        height: 360px;
    }
}

/*------------FOOTER CONTENT END---------*/


.footer_blue-container {
    background-color: #0072bc;
    height: 20px;
}

.footer_yellow-container {
    width: 100%;
    height: 200px;
    position: relative;
}

@media only screen and (min-width : 415px) and (max-width : 580px) {
    .footer_yellow-container {
        height: 200px;
        width: 414px;
        margin: 0 auto;

    }
}

@media only screen and (min-width : 581px) and (max-width : 767px) {
    .footer_yellow-container {
        height: 260px;
        width: 580px;
        margin: 0 auto;


    }
}

@media only screen and (min-width : 768px) {
    .footer_yellow-container {
        width: 768px;
        margin: 0 auto;
        height: 340px;

    }
}

/*
.footer_yellow-container .blue {
    float: left;
    margin: 30px 20px 10px 20px;
    width: 45%;
    font-weight: 800;
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg);
}
*/

/*---------------SPEECH BUBBLE CONTAINER------------*/

.bubble_container {
    float: left;
    position: relative;
/*    width: 70%;*/
    width: 286px;
    padding: 0 2px;
}

@media only screen and (min-width : 415px) and (max-width : 580px) {
    .bubble_container {
        width: 300px;
    }
}

@media only screen and (min-width : 581px) and (max-width : 767px) {
    .bubble_container {
        width: 390px;
        margin-left: 20px;
    }
}

@media only screen and (min-width : 768px) {
    .bubble_container {
        width: 470px;
        padding: 0 2px;
        margin-left: 10%;
    }
}

/*---------------SPEECH BUBBLE CONTAINER END------------*/


/*---------------SPEECH BUBBLE CANVAS AND TEXT------------*/

.bubble_text {
    margin: 0 10px;
    padding: 1px 12px;
    text-align: center;
}

.bubble_text p {
    margin: 1px;
    font-size: 1.12em;
}

@media only screen and (max-width : 414px) {
    .bubble_text p {
        font-size: 1.19em;
    }
}

@media only screen and (min-width : 415px) and (max-width : 580px) {
    .bubble_text p {
        font-size: 1.2em;
    }
}

@media only screen and (min-width : 581px) and (max-width : 767px) {
    .bubble_text p {
        margin: 1px;
        font-size: 1.54em;
    }
}

@media only screen and (min-width : 768px) {
    .bubble_text p {
        margin: 1px;
        font-size: 1.80em;
        padding: 0px 14px;
    }
}

.gwd-canvas-130s {
    position: absolute;
    transform: scaleX(-1);
    top: -2px;
    left: 16px;
    width: 90%;
/*    transform-origin: 199.703px 116.796px 0px;*/
    z-index: -100;
}

/*---------------SPEECH BUBBLE CANVAS AND TEXT END------------*/


/*---------------ME------------*/

.me_container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    float: right;
    margin: 6px 20px 0 20px;
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg);
}

@media only screen and (min-width : 415px) and (max-width : 580px) {
    .me_container {
        width: 28%;
        margin: 6px 20px 0 20px;
    }
}

@media only screen and (min-width : 581px) and (max-width : 767px) {
    .me_container {
        width: 160px;
        margin: 6px 30px 0 20px;
    }
}

@media only screen and (min-width : 768px) {
    .me_container {
        width: 200px;
        margin: 6px 50px 0 20px;
    }
}

.footer_me {
    width: 100%;
}

/*---------------ME END------------*/
